<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Earum omnis, beatae ipsa sunt delectus enim nisi illo laborum,
        mollitia nulla quod quia soluta, sit error voluptatibus voluptas
        quas commodi! Doloremque.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi ut eos maiores,
        assumenda sint placeat totam hic quia quis porro optio adipisci dolore accusamus ex nobis.
        Magni similique eligendi accusamus?</p>
</body>

</html>