<%- include('partials/head') %>


    <%- include('partials/navbar') %>
        <h1>Home Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Earum omnis, beatae ipsa sunt delectus enim nisi illo laborum,
            mollitia nulla quod quia soluta, sit error voluptatibus voluptas
            quas commodi! Doloremque.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi ut eos maiores,
            assumenda sint placeat totam hic quia quis porro optio adipisci dolore accusamus ex nobis.
            Magni similique eligendi accusamus?</p>
        <%- include('partials/footer') %>